<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/painel-principal">
      <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      <span class="fw-bold">LojaJogos</span>
    </a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/painel-principal">Painel Principal</a>
      <a class="nav-link" routerLink="/cadastro-produto">Novo Produto</a>
    </div>
  </div>
</nav>